.bg-RestRoloImage {
  background-image: url(./images/Rest-Rolo.jpg);
  background-size: 100% 100%;
}
.bg-WhatsHappeningImage {
  background-image: url(./images/Whats-Happening-logo.jpg);
  background-size: 100% 100%;
}
.bg-IMDbGameImage {
  background-image: url(./images/IMDb-actor-game.jpg);
  background-size: 100% 100%;
}
.bg-JestImage {
  background-image: url(./images/Jest-challenge.jpg);
  background-size: 100% 100%;
}

.project-icon {
  color: white;
}

.resume {
  height: 80vh;
  width: 30vw;
}

.about-me-description {
  width: 40vw;
}
